
<div class="h-full flex flex-column py-4">
  <h3>Talk to Fede's AI using the area below</h3>
  <div class="flex flex-column align-items-stretch flex-1">
    <div class="mb-4 flex-1">
      <textarea pInputTextarea #aiChat [scrollTop]="aiChat.scrollHeight" [value]="(store.state$ | async)!.textareaContent" class="h-full w-full" [formControl]="textArea"></textarea>
    </div>
    <div class="flex gap-3">
      <button pButton type="button" class="p-button-raised p-button-primary" label="Submit" icon="pi pi-send"  (click)="submitConvo()"></button>
      <button pButton type="button" class="p-button-raised p-button-outlined p-button-secondary" label="Refresh" icon="pi pi-refresh"  (click)="resetConvo()"></button>
    </div>
  </div>
</div>

